# Ensure we are in a container-based ci environment (faster boot time)
sudo: false

language: go

env:
  global:
    # Enable the "go mod" feature
    - GO111MODULE: "on"

# Don't email me the results of the test runs.
notifications:
  email: false

# Only clone the most recent commit.
git:
  depth: 1

after_success:
  # Upload the code coverage at the end
  - bash <(curl -s https://codecov.io/bash)

go:
  - 1.11.x

install:

script:
  - go test -v -race -timeout=1m ./...
  - go test -v -timeout=1m -cover -coverprofile=coverage.out ./...
